<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmi.carte_hage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nom"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarteHage">
        <activity
            android:name=".Main"
            android:exported="true"
            android:label="@string/nom"
            android:theme="@style/Theme.CarteHage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.launcher" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bataille.Bataille"
            android:exported="true"
            android:label="bataille"
            android:theme="@style/Theme.CarteHage">
        </activity>

        <activity
            android:name=".blackjack.Blackjack"
            android:exported="true"
            android:label="blackjack"
            android:theme="@style/Theme.CarteHage">
        </activity>
    </application>

</manifest>